html, body{
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    position: relative;
}


a {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-weight: 400;
}

.megaMargin {
    padding-top: 1000px;
    margin-top: 1000px;
    height: 1000px;
}

h2, h3 {
    font-weight: 400;
}

h1, h2, h3 {
    font-family: "Zilla Slab", sans-serif;
    color:#222;
}

#sideH1 {
    font-size: 26px;
    margin-top: -50px;
}

p {
    font-family: "Lato", sans-serif;
    color:#222;
    font-weight: 300;
}

#b2 {
    margin-bottom: 4px;
}

/* NAVBAR */

#textRegister, #textLogin, #textLogout {
    color: #222;
    font-weight: 400;
    font-family: "Zilla Slab", sans-serif;
}

#introMainText {
    font-size: 46px;
    font-family: "Zilla Slab", sans-serif;
    color: #222;
}

#textLogo {
    font-weight: 400;
    font-family: "Zilla Slab", sans-serif;
    font-size: 26px;
}

.navbarMainFlex {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 60px;
    width: 100%;
    background-color: #c8f0f5;
    font-size: 18px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navbar2 {
    background-color: red;
}

.navbarMainFlex, .navbarLeftFlex, .navbarRightFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f8f8f8;
}

.navbarMainFlex > div {
    margin: 0 400px;
}

.navbarLeftFlex > a {
    padding-left: 10px;
    width: 110px;
    margin: 0;
}

.navbarLeftFlex {
    font-size: 20px;
}

.cookieHolder {
    position: relative;
}

#cookie {
    cursor: pointer;
}

#fullcookie {
    position: absolute;
    left: 0;
    top: 0;
}

.rotateCookie {
    animation: rotateCookie 1s 1 ease-in-out;
}

.eatCookie {
    animation: eatCookie 1s 1 ease-in-out;
}

@keyframes eatCookie {
    0%{
        transform: scale(1);
        transform: rotate(0deg);
    }
    25%{
        height: 35px;
    }
    50%{
        height: 40px;
        transform: rotate(20deg);
    }
    100%{
        height: 40px;
        transform: rotate(0deg);
    }
}

#fullcookie {
    cursor: pointer;
}

.fullcookieheight {
    height: 40px;
}

@keyframes rotateCookie {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.noOpacity {
    opacity: 0;
}

.pencilHolder {
    position: relative;
}

#pencil {
    margin-right: 20px;
    margin-left: 20px;
}

#pencil:hover {
    animation: shake 1.5s infinite ease-in-out;
}

@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(-15deg);
    }
    66%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#plus {
    position: absolute;
    left: 50%;
    top: 50%;
}

.navbarLeftFlex > a {
    margin-right: 40px;
}

.navbarRightFlex > a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 59px;
}

.leftDashAnimation {
    animation: leftDash 2s 1 ease-in-out;
}

@keyframes leftDash {
    0%{
        right: -20%;
        opacity: 0;
    }
    100%{
        right: 5%;
        opacity: 1;
    }
}

.navbarRightFlex > a {
    padding: 0 20px;
}

.navbarRightFlex > a:hover {
    cursor: pointer;
    background-color: #c4eaee;
}

/* MAINHEADER */

html:not([data-scroll='0']) .navbarMainFlex {
    background-color: white;
    transition: background-color .5s;
}

html:not([data-scroll='0']) .navbarRightFlex > a:hover {
    background-color: rgb(245, 245, 245);
    transition: background-color .5s;
}

[data-scroll='0'] .navbarMainFlex {
    background-color: #c8f0f5;
    transition: background-color .5s;
}

.mainHeaderWrap{
    position: relative;
    background-color: #c8f0f5;
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 525px;
    width: 100%;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


.absoluteButton {
    position: absolute;
    right: 5%;
    top: 18%;
}

.absoluteButton > div > div > button {
    width: 50%;
    padding: 10px 15px;
    background-color: transparent;
    font-size: 20px;
    border-color: #222;
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.3s;
}

.absoluteButton > div > div > button:hover {
    background-color: #aad1d6;
    transition: background-color 0.3s;
    cursor: pointer;
}

#introText {
    font-weight: 300;
    font-size: 26px;
    width: 400px;
}

.mainHeaderWrap > div > div > div > p {
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #222;
}

.cookieHolderMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: auto;
}

#cookieMain {
    position: absolute;
    cursor: auto;
    height: 350px;
    z-index: 100;
}

#blackhole {
    z-index: -1;
    position: absolute;
}

.fullcookieMain {
    height: 300px;
    transition: height 0.5s;
    cursor: pointer;
    z-index: 100;
}

.mimicHeight {
    height: 300px;
    width: 1px;
}

.fullcookieMain:hover {
    transition: height 0.5s;
    height: 325px;
}

.cookieContainer:hover {
    transition: scale 0.5s;
    transform: scale(1.2);
}

.fullcookieMainBounce {
    animation: fullcookieMainBounce 1s 1 ease-in-out;
    height: 325px;
}

@keyframes fullcookieMainBounce {
    0%{
        height: 300px;
    }
    100%{
        height: 325px;
    }
}

.fullcookieMainUnbounce {
    animation: fullcookieMainUnbounce 1s 1 ease-in-out;
}

@keyframes fullcookieMainUnbounce {
    0%{
        height: 325px;
    }
    100%{
        height: 300px;
    }
}

.idleCookie {
    animation: idleCookie 20s infinite linear;
}

@keyframes idleCookie {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.eatCookieMain {
    animation: eatCookieMain 1.5s 1 ease-in-out;
}

@keyframes eatCookieMain{
    0%{
        transform: rotate(0deg);
    }
    25%{
        height: 325px;
    }
    50%{
        height: 375px;
        transform: rotate(20deg);
    }
    100%{
        height: 350px;
        transform: rotate(0deg);
    }
}

.miniText {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -30px;
    font-size: 12px;
}

.miniText > h4 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: -50px;
}

#cookieDecision > p {
    margin-top: -60px;
    font-weight: 400;
    font-size: 30px;
}

#cookieDecision > button {
    margin-top: -20px;
    background-color: transparent;
    border-color: #222;
    border-radius: 1px;
    border-style: solid;
    padding: 8px 12px;
    font-size: 20px;
}
/* ARTICLES */

.underlineAnimation {
    width: 100%;
    animation: underline 0.5s 1 ease-in-out;
}

@keyframes underline {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.formBottomMini {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #222;
    transition: width 0.5s;
}

#inline {
    display: inline-flexbox;
}

#line1 {
    height: 100px;
    color: #222;
    width: 100%;
}

#inline > div > a > p {
    font-weight: 400;
    font-family: "Zilla Slab", sans-serif;
}

#inline > div > p {
    font-weight: 400;
    font-family: "Zilla Slab", sans-serif;
}

#inline > div {
    margin: 0 150px;
    cursor: pointer;
}

#inline > h1 {
    font-size: 26px;
}

.defaultGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.defaultGridLeft {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 350px;
    object-fit: contain;
}

.defaultGridLeftNoRes {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: lcenter;
    object-fit: contain;
    width: auto;
}

.defaultGridLeftImage {
    display: grid;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 350px;
    object-fit: contain;
}

#side {
    margin-left: 20px;
}

.sideTop {
    cursor: pointer;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e0e0e0;
}

#sideBottom{
    cursor: pointer;
    margin-top: 1px;
}

.defaultGridLeftSmall {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 275px;
    object-fit: contain; 
}

#TwentyMarginTop {
    margin-top: 20px;
}

.defaultGridLeftSmallImage {
    display: grid;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 175px;
    object-fit: contain; 
}


.defaultGridRight {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-top: 50px;
}

.defaultGridRight > h4 {
    margin-right: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color:#222;
    font-size: 10px;
}

.defaultGridLeftSmall > a > h1 {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    color:#222;
}

.defaultGridLeftSmall > a > p {
    font-family: "Zilla Slab", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:#222;
    margin-top: 0;
}

.defaultGridLeftSmall > a > h4 {
    margin-top: -5px;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 300;
    color:#222;
}

.defaultGridLeft > a > section > h1 {
    margin-bottom: 8px;
    font-size: 17px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    color:#222;
}

.defaultGridLeft > a > section > p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color:#222;
    font-size: 15px;
    margin: 0;
    line-height: 15px;
}

.defaultGridLeft > a > section > h4 {
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.sideBottomFonts > h1 {
    font-size: 14px;
    font-weight: 500;
}

.sideBottomFonts > h4 {
    font-size: 10px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-top: 0;
}

.pageBorder {
    width: 1px;
    margin-top: 100px;
    margin-left: 20px;
    height: 500px;
    border-left-color:#222;
    border-left-style: dashed;
    border-left-width: 1px;
}

.borderBottom {
    cursor: pointer;
    border-bottom-style: dashed;
    border-bottom-color:#e0e0e0;
    border-bottom-width: 1px;
}

.defaultFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.defaultFlexPost {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 300px;
    width: 100%;
}

.whitebg {
    background-color: white;
}

#postImage {
    max-height: 300px;
    max-width: 1000px;
    object-fit: cover;
}

.defaultFlex2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 1200px;
    border-top-style: solid;
    border-top-color:#e9e9e9;
    border-top-width: 1px;
}

#widthRestr {
    max-width: 500px;
}

.marginBottom {
    margin-top: -20px;
}

#postH4 {
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

h4 {
    font-weight: 300;
}

.postWrapper {
    padding-top: 200px;
    height: 100%;
}

.defaultFlexLeft {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.defaultFlexLeft3 {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

a {
    color: #222;
}

#likes {
    margin: 0 5px;
    margin-right: 8px;
}

#likeIcon {
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

#likeIcon:hover {
    transition: color 0.2s, transform 0.2s;
    color: #C8F0F5;
    transform: scale(1.1);
}

#topScale {
    transform: scale(1.1);
}

.defaultFlexRight {
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: center;
}

#limitSize350 {
    width: 400px;
}

#mdt {
    margin-left: 110px;
    margin-bottom: -50px;
}

#limitSize170 {
    width: 220px;
    margin: 0 1px;
}

#borderBot {
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: #222;
}

#lineBottom {
    border-bottom-color: #686868;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.lineBottom {
    border-bottom-color: #686868;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.defaultGridLeft > heading {
    font-size: 20px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.defaultFlexLeft > heading {
    font-size: 30px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.defaultFlexLeft > h1 {
    font-size: 30px;
    letter-spacing: 1px;
}

#botFlex {
    margin-left: 20px;
}

.borderRight > div > div > p {
    font-weight: 500;
    font-family: "Zilla Slab", sans-serif;
    font-size: 14px;
    width: 250px;
}

.borderRight > div > div > h4 {
    margin-top: -10px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

.fonts {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #222;
    padding-top: 20px;
}

.fonts > h1 {
    margin-bottom: 8px;
    font-size: 25px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color:#222;
}

.fonts > p {
    margin-top: 0;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    width: 300px;
    color:#383838;
}

.fonts > h4 {
    margin-top: -10px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

.borderRight {
    border-right-style: dashed;
    border-right-color: #e0e0e0;
    border-right-width: 1px;
    cursor: pointer;
    padding-left: 5px;
}

#image {
    height: 400px;
    margin-left: 20px;
    object-fit: cover;
}

.bottomBorder {
    height: 1px;
    width: 100%;
    background-color: #222;
    animation: drawLine 1.5s 1 ease-in-out;
}

@keyframes drawLine {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.sideBorder {
    height: 550px;
    width: 1px;
    background-color: #222;
    animation: drawSegment 1.5s 1 ease-in-out;
}

@keyframes drawSegment {
    0%{
        height: 0px
    }
    100%{
        height: 550px;
    }
}

#authorText {
    color: #222;
    margin-top: 0;
}

.goUp {
    padding-top: 20px;
}

#sideImage {
    margin-left: 30px;
    padding-right: 20px;
    max-width: 600px;
    max-height: 500px;
    object-fit: cover;
    cursor: pointer;
}

#sideImageMedium {
    margin-left: 30px;
    padding-right: 20px;
    width: 400px;
    max-height: 300px;
    object-fit: cover;
    cursor: pointer;
}

#topicFlex {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#sideImageSmall{
    margin-top: 20px;
    width: 240px;
    height: 140px;
    object-fit: cover;
}

#imageH1 {
    font-size: 18px;
    width: 240px;
}

#imageH4 {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

#sideTopFontH1 {
    font-size: 20px;
}

#sideTopFontP {
    font-size: 14px;
}

#scaled {
    transform: scale(.9);
}

#sideTopFontH4 {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #222;
    margin-top: 2px;
}

#marginTop20 {
    margin-top: 20px;
}

.scaler {
    transition: transform 0.2s, background-color 0.2s;
}

.scaler:hover {
    transition: transform 0.2s, background-color 0.2s;
    transform: scale(1.025);
    background-color:#f7f7f7;
}

#side {
    margin-left: 20px;
}

/* TAGS NAV */

.tagFlex {
    display: flex;
    height: 80px;
}

.tagsGrid {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #222;
    border-bottom-width: 1px;
}

.tagsNavFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tagsNavFlex > a > div > p {
    margin: 0 20px;
    font-family: "Zilla Slab", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.tagsNavFlex > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 56px;
}

#searchDiv {
    margin-left: 10px;
    margin-right: 10px;
}

#searchDiv:hover {
    cursor: auto;
    background-color: white;
}

.tagsNavFlex > a > div:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

/* OTHERS */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

form > p {
    margin-bottom: 5px;
}

form.login, form.register {
    width: 500px;
    margin: 0 auto;
}

input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

form > p {
    font-weight: 500;
    font-family: "Zilla Slab", sans-serif;
}

form > div > button {
    margin-top: 20px;
    width: 90%;
    display: block;
    background-color: transparent;
    border: 0;
    color: #000000;
    border-radius: 5px;
    border-style: solid;
    border-color: #222;
    border-width: 1px;
    padding: 7px 0;
    transition: width 0.5s;
}

.formBottom {
    margin: 0 5px;
    width: 25%;
    height: 1px;
    background-color: #222;
    animation: growFormBottom 2s 1 ease-in-out;
}

@keyframes growFormBottom {
    0%{
        width: 0%
    }
    100%{
        width: 25%;
    }
}

form > div > button:hover {
    transition: width 0.5s;
    width: 100%;
    cursor: pointer;
}

form.login h1, form.register h1 {
    text-align: center;
}

/* STUFF */

#mainBorder {
    border-right-color: #686868;
    border-right-width: 1px;
    border-right-style: solid;
}


/* FOOTER */

#contact {
    margin-top: 20px;
    width: min-content;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
}

.footerGridWrap {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222;
    width: 100%;
}



.socialsFlex {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tm {
    margin-top: 10px;
}

#md {
    margin-bottom: -50px;
    margin-top: 40px;
}

#mt {
    margin-top: -50px;
}

.socialsFlex > p {
    color: #afafaf;
    font-size: 14px;
}

#ig {
    transition: background-color 0.3s, padding 0.3s;
}

#ig:hover {
    background-color:rgb(207, 142, 186);
    padding: 3px;
    transition: background-color 0.3s, padding 0.3s;

}

#li {
    transition: background-color 0.3s, padding 0.3s;
}

#li:hover {
    background-color: #0077B5;
    padding: 3px;
    transition: background-color 0.3s, padding 0.3s;
}

#sy {
    transition: background-color 0.3s, padding 0.3s;
}

#sy:hover {
    background-color:#06c200;
    padding: 3px;
    transition: background-color 0.3s, padding 0.3s;
}

#gh {
    transition: background-color 0.3s, padding 0.3s;
}

#gh:hover {
    background-color:#006bc2;
    padding: 3px;
    transition: background-color 0.3s, padding 0.3s;
}

#dc {
    transition: background-color 0.3s, padding 0.3s;
}

#dc:hover {
    background-color:#5865F2;
    padding: 3px;
    transition: background-color 0.3s, padding 0.3s;
}

.iconBlock{
    margin: 0 2px;
    background-color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
}

.iconBlock > a > img {
    height: 30px;
    width: 30px;
    fill: white;
}

#tm > p {
    color: rgb(160, 160, 160);
}

#totop {
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.5s;
    animation: bounce 1s infinite linear;
}

#totop:hover {
    transition: color 0.5s;
    animation-play-state: paused;
    color: #ffffff;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0px);
    }
}

.socialsFlex > a {
    text-decoration: none;
    color:#bebebe;
}

.discordInfo {
    display: flex;
    background-color: rgb(20, 20, 20);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-align: center;
    align-items: center;
    bottom: 50px;
    transform: scale(.9);
    transition: opacity 0.5s;
}

.discordInfo > p {
    color: rgb(121, 121, 121);
}

#dc {
    position: relative;
}

.zeroOpacity {
    transition: opacity 0.5s;
    opacity: 0;
}

.fullOpacity {
    transition: opacity 1.5s;
    opacity: 1;
}

.fullOpacityDelay{
    transition: opacity 2.5s;
    opacity: 1;
}

#mailButton {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Zilla Slab", sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    transition: padding 0.3s;
    color: white;
    background-color: transparent;
}

#mailButton:hover{
    transition: padding 0.3s;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(219, 219, 219);
    color: #222;
    cursor: pointer;
}

.formMargin {
    padding-top: 188px;
}

/* TRENDS */

.trendsGrid {

    margin-top: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    text-align: left;
    align-items: center;
}

#topicButtons {
    padding-top: 100px;
}

#trendRelative {
    position: relative;
}

#topTrending {
    margin-bottom: -100px;
    margin-left: 20px;
}

#trendingIcon {
    margin-top: 19px;
}

#trendContainer {
    margin-bottom: -50px;
    margin-left: 50px;
}

.dashBoxes {
    position: absolute;
    width: 390px;
    background-color: #222;
    height: 1px;
    left: 0;
    bottom: -20px;
    animation: dash1 1s 1 ease-in-out;
}

@keyframes dash1 {
    0%{
        width: 0;
    }
    100%{
        width: 390px;
    }
}

.dashBoxes2 {
    position: absolute;
    width: 390px;
    background-color: #222;
    height: 1px;
    right: 0;
    bottom: -20px;
    animation: dash2 1s 1 ease-in-out;
}

@keyframes dash2 {
    0%{
        width: 0px
    }
    100%{
        width: 390px;
    }
}

.dashBoxes3 {
    position: absolute;
    height: 340px;
    background-color: #222;
    width: 1px;
    left: 390px;
    top: -32px;
    animation: dash3 1s 1 ease-in-out;
}

@keyframes dash3 {
    0%{
        height: 0;
    }
    100%{
        height: 340px;
    }
}

.dashBoxes4 {
    position: absolute;
    height: 340px;
    background-color: #222;
    width: 1px;
    right: 390px;
    top: -32px;
    animation: dash4 1s 1 ease-in-out;
}

@keyframes dash4 {
    0%{
        height: 0;
    }
    100%{
        height: 340px;
    }
}

.dashBoxes5 {
    position: absolute;
    width: 420px;
    background-color: #222;
    height: 1px;
    left: 390px;
    top: -33px;
    animation: dash5 1s 1 ease-in-out;
}

@keyframes dash5 {
    0%{
        width: 0;
    }
    100%{
        width: 421;
    }
}

.trendingBorder {
    margin-top: 50px;
    width: 80%;
    height: 1px;
    background-color: #d1d1d1;
}

.trendy {
    transform: scale(.85);
    width: 400px;
}

#articleTrend {
    width: 300px;
}

#pfpImg {
    margin-left: -5px;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

#trendUser {
    font-size: 16px;
}

#trendTitle {
    margin-top: -5px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

#trendTime {
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
    color: rgb(139, 139, 139);
}

section > h1 {
    margin-bottom: 8px;
    font-size: 17px;
    font-family: "Zilla Slab", sans-serif;
    font-weight: 500;
    color:#222;
}

section > p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color:#222;
    font-size: 15px;
    margin: 0;
    line-height: 15px;
}

section > div > h4 {
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.tagline {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 9999px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0 5px;
    margin-top: 2px;
    font-weight: 400;
}

/* CREATE POST */

#topicButtons > button {
    padding: 10px 20px;
    border-width: 1px;
    transition: background-color .3s, transform .3s;
}

#topicButtons > button:hover {
    background-color: rgb(234, 234, 234);
    transform: scale(1.05);
    transition: background-color .3s, transform .3s;
    cursor: pointer;
}

#topicButtons > p {
    margin: 0 10px;
}

#createPostButton {
    background-color: transparent;
    padding: 10px 15px;
    color: #222;
    border-width: 1px;
    transition: padding 0.3s, background-color 0.3s;
}

#createPostButton:hover {
    padding: 10px 20px;
    background-color: rgb(234, 234, 234);
    transition: padding 0.3s, background-color 0.3s;
    cursor: pointer;
}

#createGrid {
    transform: scale(1.1);
}

.nonActiveTopicButton {
    background-color: transparent;
}

.activeTopicButton {
    background-color: rgb(234, 234, 234);
}

.edit-button {
    margin-top: 5px;
    color: rgb(179, 179, 179);
    transition: color .3s;
    cursor: pointer;
}

.edit-button:hover {
    color: #222;
    text-decoration: underline;
    transition: color .3s;
}